#!/usr/bin/env bash

export DIRENV_ROOT="$(echo $PWD)"
export PATH="$DIRENV_ROOT/bin:$PATH"
export PYTHONUNBUFFERED=1

echo "DIRENV_ROOT=$DIRENV_ROOT"

if [[ -f "./.installed" ]]; then
  # shellcheck source=/dev/null
  source "$DIRENV_ROOT/.installed"
fi
echo "" > .new_installed

INSTALL_DEPS=0

# todo maybe nix and devenv to scope all tools to the folder. Also consider dockerizing.
NEW_PYTHON_VERSION="$(cat .python-version)"
NEW_PYTHON_VERSION_MAJOR="$(echo "$NEW_PYTHON_VERSION" | cut -d'.' -f1)"
NEW_PYTHON_VERSION_MINOR="$(echo "$NEW_PYTHON_VERSION" | cut -d'.' -f2)"
NEW_PYTHON_VERSION_PATCH="$(echo "$NEW_PYTHON_VERSION" | cut -d'.' -f3)"

# make sure to check for empty strings in NEW_PYTHON_VERSION_* and skip check if blank
if [[ -n "$NEW_PYTHON_VERSION_MAJOR" && "$PYTHON_VERSION_MAJOR" != "$NEW_PYTHON_VERSION_MAJOR" ]] \
|| [[ -n "$NEW_PYTHON_VERSION_MINOR" && "$PYTHON_VERSION_MINOR" != "$NEW_PYTHON_VERSION_MINOR" ]] \
|| [[ -n "$NEW_PYTHON_VERSION_PATCH" && "$PYTHON_VERSION_PATCH" != "$NEW_PYTHON_VERSION_PATCH" ]]; then
    echo "Python version changed, installing..."
    rm -rf .venv
    pyenv install --skip-existing
    INSTALL_DEPS=1
fi
echo "PYTHON_VERSION_MAJOR=$NEW_PYTHON_VERSION_MAJOR" >> .new_installed
echo "PYTHON_VERSION_MINOR=$NEW_PYTHON_VERSION_MINOR" >> .new_installed
echo "PYTHON_VERSION_PATCH=$NEW_PYTHON_VERSION_PATCH" >> .new_installed

NEW_LOCK_SHA="$(md5sum poetry.lock | cut -d' ' -f1)"
if [[ "$LOCK_SHA" != "$NEW_LOCK_SHA" ]]; then
    echo "poetry.lock changed, installing dependencies..."
    INSTALL_DEPS=1
fi
echo "LOCK_SHA=$NEW_LOCK_SHA" >> .new_installed

if [[ "$INSTALL_DEPS" == "1" ]]; then
    poetry install --no-interaction
fi

mv .new_installed .installed

# shellcheck source=/dev/null
source "./.venv/bin/activate"
# note this won't set PS1 - See https://github.com/direnv/direnv/wiki/PS1

echo "venv: $(poetry env info --path)"
# print the destination of the symlink if it is a symlink or just the path if it is not
# like: /home/nsheaps/src/beeps-interview/src/python/.venv/bin/python
# or /home/nsheaps/src/beeps-interview/src/python/.venv/bin/python -> /home/nsheaps/.pyenv/versions/3.11.6/bin/python3.11
executable_location="$(poetry env info --executable)"

if [ -L "$executable_location" ]; then
    echo "python bin: $executable_location -> $(readlink -f "$executable_location")"
else
    echo "python bin: $executable_location"
fi
echo "python version: $(poetry run python --version)"
